[submodule "learn-projects/obs-studio"]
	path = learn-projects/obs-studio
	url = https://github.com/obsproject/obs-studio.git
[submodule "learn-projects/wayscrollshot"]
	path = learn-projects/wayscrollshot
	url = https://github.com/jswysnemc/wayscrollshot.git
[submodule "learn-projects/rust-cv"]
	path = learn-projects/rust-cv
	url = https://github.com/rust-cv/cv.git
[submodule "learn-projects/snow-shot"]
	path = learn-projects/snow-shot
	url = https://github.com/mg-chao/snow-shot.git
[submodule "learn-projects/tauri-template"]
	path = learn-projects/tauri-template
	url = https://github.com/dannysmith/tauri-template.git
[submodule "learn-projects/scap"]
	path = learn-projects/scap
	url = https://github.com/zed-industries/scap.git
[submodule "learn-projects/exwlshelleventloop"]
	path = learn-projects/exwlshelleventloop
	url = https://github.com/waycrate/exwlshelleventloop.git
[submodule "learn-projects/flameshot"]
	path = learn-projects/flameshot
	url = https://github.com/flameshot-org/flameshot.git
[submodule "learn-projects/spectacle"]
	path = learn-projects/spectacle
	url = https://github.com/KDE/spectacle.git
