[submodule "learn-projects/obs-studio"]
	path = learn-projects/obs-studio
	url = https://github.com/obsproject/obs-studio.git
[submodule "learn-projects/wayscrollshot"]
	path = learn-projects/wayscrollshot
	url = https://github.com/jswysnemc/wayscrollshot.git
[submodule "learn-projects/rust-cv"]
	path = learn-projects/rust-cv
	url = https://github.com/rust-cv/cv.git
[submodule "learn-projects/snow-shot"]
	path = learn-projects/snow-shot
	url = https://github.com/mg-chao/snow-shot.git
[submodule "learn-projects/scap"]
	path = learn-projects/scap
	url = https://github.com/zed-industries/scap.git
[submodule "learn-projects/exwlshelleventloop"]
	path = learn-projects/exwlshelleventloop
	url = https://github.com/waycrate/exwlshelleventloop.git
[submodule "learn-projects/flameshot"]
	path = learn-projects/flameshot
	url = https://github.com/flameshot-org/flameshot.git
[submodule "learn-projects/spectacle"]
	path = learn-projects/spectacle
	url = https://github.com/KDE/spectacle.git
[submodule "learn-projects/mark-shot"]
	path = learn-projects/mark-shot
	url = https://github.com/jswysnemc/mark-shot.git
[submodule "learn-projects/CrossMacro"]
	path = learn-projects/CrossMacro
	url = https://github.com/alper-han/CrossMacro.git
[submodule "learn-projects/rig"]
	path = learn-projects/rig
	url = https://github.com/0xplaygrounds/rig
[submodule "learn-projects/iced"]
	path = learn-projects/iced
	url = https://github.com/iced-rs/iced.git
[submodule "learn-projects/brag"]
	path = learn-projects/brag
	url = https://github.com/latent-spaces/brag.git
[submodule "learn-projects/hyperframes"]
	path = learn-projects/hyperframes
	url = https://github.com/heygen-com/hyperframes.git
[submodule "learn-projects/pi"]
	path = learn-projects/pi
	url = https://github.com/earendil-works/pi.git
[submodule "learn-projects/oh-my-pi"]
	path = learn-projects/oh-my-pi
	url = https://github.com/can1357/oh-my-pi.git
[submodule "learn-projects/codex"]
	path = learn-projects/codex
	url = https://github.com/openai/codex.git
[submodule "learn-projects/claude-code-source-code"]
	path = learn-projects/claude-code-source-code
	url = https://github.com/XuHaoJun/claude-code-source-code.git
